openapi: 3.2.0
info:
  title: Taylor's Library Koha REST Libraries API
  description: OpenAPI 3.0 description of the Taylor's University Library catalog REST API, served by the open-source Koha integrated library system under /api/v1.
  version: v1
  contact:
    name: Taylor's University Library
    url: https://librarycatalogue.taylors.edu.my/
servers:
- url: https://librarycatalogue.taylors.edu.my/api/v1
  description: Taylor's Library Koha REST API (basePath /api/v1)
security:
- basicAuth: []
- oauth2ClientCredentials: []
tags:
- name: Libraries
  description: Libraries (branches)
paths:
  /libraries:
    get:
      tags:
      - Libraries
      operationId: listLibraries
      summary: List libraries
      responses:
        '200':
          description: A list of libraries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/library'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /libraries/{library_id}:
    parameters:
    - name: library_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Libraries
      operationId: getLibrary
      summary: Get library
      responses:
        '200':
          description: A library
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/library'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
  schemas:
    error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        error_code:
          type: string
          description: Error code
      required:
      - error
    library:
      type: object
      additionalProperties: false
      required:
      - library_id
      - name
      properties:
        library_id:
          type: string
          minLength: 1
          maxLength: 10
          description: internally assigned library identifier
        name:
          type: string
          description: Printable name of library
        address1:
          type:
          - string
          - 'null'
          description: the first address line of the library
        address2:
          type:
          - string
          - 'null'
          description: the second address line of the library
        address3:
          type:
          - string
          - 'null'
          description: the third address line of the library
        city:
          type:
          - string
          - 'null'
          description: the city or province of the library
        state:
          type:
          - string
          - 'null'
          description: the regional state of the library
        postal_code:
          type:
          - string
          - 'null'
          maxLength: 25
          description: the postal code of the library
        country:
          type:
          - string
          - 'null'
          description: the country of the library
        phone:
          type:
          - string
          - 'null'
          description: the primary phone of the library
        fax:
          type:
          - string
          - 'null'
          description: the fax number of the library
        email:
          type:
          - string
          - 'null'
          description: the primary email address of the library
        url:
          type:
          - string
          - 'null'
          description: the URL for your library or branch's website
        ip:
          type:
          - string
          - 'null'
          maxLength: 15
          description: the IP address for your library or branch
        notes:
          type:
          - string
          - 'null'
          description: notes related to your library or branch
        marc_org_code:
          type:
          - string
          - 'null'
          maxLength: 16
          description: MARC Organization Code
        geolocation:
          type:
          - string
          - 'null'
          maxLength: 255
          description: geolocation of your library
        pickup_location:
          type: boolean
          description: If the library can act as a pickup location
        public:
          type: boolean
          description: If the library is visible to the public
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://librarycatalogue.taylors.edu.my/api/v1/oauth/token
          scopes: {}
